.footer {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 17px 40px 17px 40px; 
    background-color:darkcyan


  }
 
  .footer-left {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure

  }