.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 10px 40px; 
    align-items: center;
    gap: 8px;
    color:azure;
    background-color: darkcyan
}
.gradient-bg {
    background-image: linear-gradient(to right, #2c3e50, #4ca1af);
}
  
.left-header {
    display: flex; 
    align-items: center;
    gap: 8px;
    color:azure;
  }

  .navbar a {
    text-decoration: none;
    color:azure;

  }

.right-header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex; 
    align-items: center;
    gap: 20px;
    color: azure;
}


